---
- name: Install go-pie
  pacman:
    name: go-pie
    state: present

- name: Create system go group
  group: name=golang state=present

- name: Add user to system golang group
  user: name={{ user.name }} groups=golang append=yes
  tags:
    - user

- name: Create system go dir
  file: path=/usr/local/go state=directory group=golang mode=0775

- name: Install tinygo
  pacman:
    name: tinygo
    state: present

- name: Install lazygit
  aur:
    name: lazygit
    user: "{{ user.name }}"
  tags:
    - aur
