[submodule "library/ansible-aur"]
	path = library/ansible-aur
	url = https://github.com/pigmonkey/ansible-aur.git
[submodule "roles/networkmanager/files/nmtrust"]
	path = roles/networkmanager/files/nmtrust
	url = https://github.com/pigmonkey/nmtrust.git
[submodule "roles/sdkman"]
	path = roles/sdkman
	url = https://github.com/Comcast/ansible-sdkman.git
[submodule "roles/sound/files/pamute"]
	path = roles/sound/files/pamute
	url = https://gist.github.com/7f3954ef56524be196edd29c3ac2dab1.git
