---
- name: Install LibreOffice
  pacman: name=libreoffice-fresh state=present

- name: Install Zathura and dependencies
  pacman: name={{ item }} state=present
  with_items:
    - zathura-pdf-mupdf
    - zathura-ps

- name: Set Zathura as default PDF viewer
  lineinfile: dest=/etc/xdg/mimeapps.list
              regexp=^application/pdf
              state=present
              line="application/pdf=zathura.desktop"

- name: Install enscript
  pacman: name=enscript state=present

- name: Install Simple Scan
  pacman: name=simple-scan state=present

- name: Install pandoc
  pacman: name=pandoc state=present

- name: Install texlive-core
  pacman: name=texlive-core state=present

- name: Install texlive-latexextra
  pacman: name=texlive-latexextra state=present

- name: Install masterpdfeditor
  aur: name=masterpdfeditor user={{ user.name }}
  tags:
    - aur

- name: Install pdfgrep
  pacman: name=pdfgrep state=present

- name: Install visidata
  aur: name=visidata user={{ user.name }}
  tags:
    - aur
