---
- name: Add Haskell repository to pacman
  lineinfile: dest=/etc/pacman.conf
              state=present
              insertafter=EOF
              line="{{ item.line }}"
  with_items:
    - { line: "[haskell-core]" }
    - { line: "Server = http://xsounds.org/~haskell/core/$arch" }
  tags:
    - haskell

- name: Verify root gnupg directory exists
  file: path=/root/.gnupg/ state=directory
  tags:
    - haskell

- name: Verify dirmngr is configured
  file: path=/root/.gnupg/dirmngr_ldapservers.conf state=touch
  tags:
    - haskell

- name: Verify dirmngr is running
  command: dirmngr
  tags:
    - haskell

- name: Install ArchHaskell repository key
  command: pacman-key -r 4209170B
  tags:
    - haskell

- name: Trust ArchHaskell repository key
  command: pacman-key --lsign-key 4209170B
  tags:
    - haskell

- name: Update package cache
  pacman: update_cache=yes
  tags:
    - haskell

- name: Install Haskell components
  pacman: name={{ item }} state=present
  with_items:
    - ghc
    - cabal-install
    - haskell-haddock-api
    - happy
    - alex
    - stack
  tags:
    - haskell
