---
- name: Install Runc
  pacman: name={{ item }} state=present
  with_items:
      - runc
      - containerd
      - docker
  tags:
    - docker
    
- name: Enable Docker service
  service: name=docker.service enabled=no
  tags:
    - aur

- name: Add user to the docker group
  user: name={{ user.name }} groups=docker append=yes
