---
- name: Install alsa-utils
  pacman: name=alsa-utils state=present

- name: Copy asound.conf
  copy: src=asound.conf dest=/etc/asound.conf

- name: Copy udev rule for USB audio device switching
  copy: src=udev.rules dest=/etc/udev/rules.d/00-local.rules

- name: Push volume control script
  copy: src=volume.sh dest=/usr/local/bin/volume mode=0755

- name: Install Pulseaudio
  pacman: name=pulseaudio
  tags:
    - pulseaudio

- name: Install pulseaudio bluetooth support
  pacman: name=pulseaudio-bluetooth
  tags:
    - pulseaudio
    - bluetooth

- name: Install pulseaudio sound controls
  pacman: name={{ item }} state=present
  with_items:
    - pavucontrol
    - pamixer
    - paprefs
  tags:
    - pulseaudio

- name: Install pulseaudio aur components
  aur: name=pulseaudio-ctl user={{ user.name }}
  tags:
    - aur
    - pulseaudio

- name: Install pulsemixer
  aur: name=pulsemixer user={{ user.name }}
  tags:
    - aur
    - pulseaudio

- name: Install pasystray
  aur: name=pasystray user={{ user.name }}
  tags:
    - aur
    - pulseaudio

- name: Install paman
  aur: name=paman user={{ user.name }}
  tags:
    - aur
    - pulseaudio

- name: Install pavumeter
  aur: name=pavumeter user={{ user.name }}
  tags:
    - aur
    - pulseaudio

